<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="{% url 'nova_despesa' %}">Nova Despesa</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      {% block content %}

      {% endblock %}
    </main>

    <footer>
      <p>&copy; 2024 Fabio Matos</p>
    </footer>
  </body>
</html>
